{% extends 'index.html' %}

{% block content %}

<div class="row">
    {% for nome, data,local,observacao, itens in lista_dados %}
        <div class="col-md-4">
            <div style="margin-top: 60px;"></div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ nome }}</h5>

                    {% for item in itens %}
                        <div class="card-text"><b>Produto's: </b>{{ item.1 }} - {{ item.0 }}</div>
                    {% endfor %}
                    <p></p>

                    <div class="card-text"><b>Data de Locação: </b>{{ data }}</div>
                    <div class="card-text"><b>local: </b>{{ local }}</div>
                    <div class="card-text"><b>Observação: </b>{{ observacao }}</div>

                    <div class="card-text"><b>Observação: </b>{{ teste }}</div>
                    <p></p>
                    <form name="delete_item" action="{% url 'agenda' %}" method="GET">
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>

                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}