{% extends 'index.html' %}

{% block content %}

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <nav class="navbar"  style="margin-top: 50px;" >
    <a class="navbar-brand" href="#">Cadastro do pedido</a>
  </nav>

{% if resultado == 1 %}
        <div class="alert alert-success" role="alert">
            Produto salvo com Sucesso
        </div>
    {% elif resultado == 0 %}
        <div class="alert alert-danger" role="alert">
            Falha ao salvar o cadastro
        </div>
    {% else %}
    {% endif %}

<div class="col-4">
  <form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {{ form.itens_pedido.management_form }}
    {% for formset_form in form.itens_pedido.forms %}
      {{ formset_form.as_table }}
    {% endfor %}
  <p></p>
    <input type="submit" class="btn btn-primary" name="save_itens" value="Salvar Itens">
    <input type="submit" class="btn btn-success" name="save_pedido" value="Salvar Pedido">
  </form>
</div>


<script>
    $(function() {
        // Configurando o Datepicker em português
        $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

        // Configurando o formato de data brasileiro
        $.datepicker.setDefaults({
            dateFormat: 'dd/mm/yy',
            dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
            monthNames: [
                'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
                'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
            ]
        });

        // Inicializando o Datepicker
        $("#id_data").datepicker();
    });
</script>






{% endblock %}